/*Global CSS*/
html, body {
    background-color: #80b793f4 !important;
  }
div{
  font-family: "Times New Roman", Times, serif;
}


/*Index Page CSS*/
.about{
    padding-top: 240px;
}
.about h1{
    text-align: center;

}
  .about p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
    padding-left: 20px;
  }

  .feature p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3em;
    padding-left: 20px;
  }

  /*Registration Page CSS*/
  .Registration h1 {
    text-align: center;
  }

  .Registration div {
    text-align: center;
  }

 /*Production Line Machine Page CSS*/
 .ProductionLine h1 {
  text-align: center;
}
/*Sorting Machine Page CSS*/
.SortingMachine h1 {
  text-align: center;
}

/*Recycler Page CSS*/
.Recycler h1 {
  text-align: center;
}
.Recycler h2 {
  text-align: center;
}

/*Tracking Page CSS*/
.Tracking h1 {
  padding-top: 60px;
  text-align: center;
}

/*Seller Page (viewBales.js) CSS*/
.Seller h1 {
  text-align: center;
}

/*Seller & Buyer Page - Auction (startAuction.js & joinAuction) CSS*/
.statistic h1{
  text-align: center;
}

.statistic title h3{
  font-size: 20px;
}

.AuctionContainer{
  background-color: #0a552835;
  min-height: 8em;
  padding-top: 10px;
}

/*Buyer Page (viewAuctions.js) CSS*/
.Buyer h1 {
  text-align: center;
}


/*Seller Page - Auction (startAuction.js ) CSS*/
.setAuction h1{
  text-align: center;
}
/*buyers page (joinAuction.js)*/
.timer {
  padding-left:10em;
  padding-right:10em;
 
  }
    
.timer div:last-child{
  border: 1px solid white; 
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  margin-top:3em; 
  padding: 3em; 
  text-align: center;
}

section p:first-child, .timer div:last-child span{
font: 3em;
}

@media screen and (max-width: 480px){
  .timer div:last-child{
    margin-left: 2em; 
    margin-right: 2em; 
    padding: 3em 1em; 
  }
}