/*Global CSS*/
html, body {
    background-color: #80b793f4 !important;
  }
div{
  font-family: "Times New Roman", Times, serif;
}


/*Index Page CSS*/
.about{
    padding-top: 240px;
}
.about h1{
    text-align: center;

}
  .about p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
    padding-left: 20px;
  }

  .about.Image{
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    top: -3px;
    width: 50%;
  }

  .feature p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3em;
    padding-left: 20px;
  }



  /*Registration Page CSS*/
  .Registration h1 {
    text-align: center;
  }

  .Registration div {
    text-align: center;
  }

 /*Production Line Machine Page CSS*/
 .ProductionLine h1 {
  text-align: center;
}
/*Sorting Machine Page CSS*/
.SortingMachine h1 {
  text-align: center;
}

/*Recycler Page CSS*/
.Recycler h1 {
  text-align: center;
}
.Recycler h2 {
  text-align: center;
}

/*Tracking Page CSS*/
.Tracking h1 {
  padding-top: 60px;
  text-align: center;
}

/*Seller Page (viewBales.js) CSS*/
.Seller h1 {
  text-align: center;
}

/*Seller & Buyer Page - Auction (startAuction.js & joinAuction) CSS*/
.statistic h1{
  text-align: center;
}

.statistic{
  text-align: center;
}

.statistic title h3{
  font-size: 20px;
}

.AuctionContainer{
  background-color: #0a552835;
  min-height: 8em;
  padding-top: 10px;
}

/*Buyer Page (viewAuctions.js) CSS*/
.Buyer h1 {
  text-align: center;
}

/*Seller Page - Auction (startAuction.js ) CSS*/
.setAuction h1{
  text-align: center;
}

/*Buyer Page - Auction (joinAuction) CSS*/


.conversionButtons{
  text-align: center;
}

#clockdiv{
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div{
  padding: 10px;
  border-radius: 3px;
  background: #00BF96;
  display: inline-block;
  
}

#clockdiv div > span{
  padding: 15px;
  border-radius: 3px;
  background: #00816A;
  display: inline-block;
}

.smalltext{
  padding-top: 5px;
  font-size: 16px;
}

