/*Global CSS*/
html, body {
    background-color: #80b793f4 !important;
  }
div{
  font-family: "Times New Roman", Times, serif;
}


/*Index Page CSS*/
.about{
    padding-top: 240px;
}
.about h1{
    text-align: center;

}
  .about p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 6em;
    padding-left: 20px;
  }

  .feature p{
    align-content: center;
    background-color: #fefefe18;
    color: rgb(6, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 3em;
    padding-left: 20px;
  }

  /*Registration Page CSS*/

  .Registration h1 {
    text-align: center;
  }

  .Registration div {
    text-align: center;
  }

 